body {
  background: url("../../assets/images/papyrus-dark.png");
  background-color: #191919;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}
.container {
  color: black;
}
#title,
#timeRemaining,
#correctTally,
#secLeft,
#questionText,
#choices {
  background-color: aquamarine;
  margin-bottom: 2.5%;
}
#title {
  margin-top: 2.5%;
  font-size: 3em;
}
#timeRemaining,
#correctTally {
  font-size: 1em;

  padding: 2.5% 0 2.5% 2.5%;
}
#secLeft {
  font-size: 1.5em;
}
#questionText {
  font-size: 2em;
  padding: 5%;
  margin-bottom: 0;
}
#choices {
  font-size: 1.5em;
  padding: 5%;
  padding-top: 0;
}
#choiceOne,
#choiceTwo,
#choiceThree,
#choiceFour {
  background-color: black;
  border: 2px solid;
  padding: 2.5%;
}
#choiceOne {
  color: red;
  border-color: red;
  margin-right: 1%;
  margin-bottom: 1%;
}
#choiceTwo {
  color: blue;
  border-color: blue;
  margin-bottom: 1%;
}
#choiceThree {
  color: green;
  border-color: green;
  margin-right: 1%;
}
#choiceFour {
  color: yellow;
  border-color: yellow;
}
